# --- Base de données PostgreSQL ---
# Remplacez "utilisateur", "motdepasse" et "walkietalkie" par vos vrais accès locaux
DATABASE_URL="postgresql://utilisateur:motdepasse@localhost:5432/walkietalkie?schema=public"

# --- Cache & Temps Réel (Redis) ---
REDIS_URL="redis://localhost:6379"

# --- Serveur ---
PORT=3000
